{% extends "layout.html" %}

{% block title %}
Brands
{% endblock %}

{% block main %}

{# Jumbotron #}
<div class="p-5 mb-4 bg-light">
  <div class="container py-3">
    <h1 class="display-5 fw-bold">Brands</h1>
    <p class="col-md-8 fs-4">Powering a website for CRM professionals, this Flask-backed project showcases a curated
      collection of Czech commercial emails for inspiration.</p>
  </div>
</div>


{# Brands #}
<div class="row justify-content-center align-items-center my-3">
    <div class="row mb-4">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Filter by
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item active" href="#">Alphabetical A-Z</a></li>
              <li><a class="dropdown-item" href="#">Alphabetical Z-A</a></li>
              <li><a class="dropdown-item" href="#">Quantity of emails: Highest to lowest</a></li>
              <li><a class="dropdown-item" href="#">Quantity of emails: Lowest to highest</a></li>
            </ul>
          </div>
    </div>
  <div class="row">
    <div class="col-sm-2 mb-4">
      <div class="card">
        <img src="https://as.milledcdn.com/3rmt9s15of9i2842vj17ytii4yh2" class="card-img-top img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">Brand name test</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-2 mb-4">
      <div class="card">
        <img src="https://as.milledcdn.com/3rmt9s15of9i2842vj17ytii4yh2" class="card-img-top img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">Brand name test</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-2 mb-4">
      <div class="card">
        <img src="https://as.milledcdn.com/3rmt9s15of9i2842vj17ytii4yh2" class="card-img-top img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">Brand name test</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-2 mb-4">
      <div class="card">
        <img src="https://as.milledcdn.com/3rmt9s15of9i2842vj17ytii4yh2" class="card-img-top img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">Brand name test</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-2 mb-4">
      <div class="card">
        <img src="https://as.milledcdn.com/3rmt9s15of9i2842vj17ytii4yh2" class="card-img-top img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">Brand name test</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-2 mb-4">
      <div class="card">
        <img src="https://as.milledcdn.com/3rmt9s15of9i2842vj17ytii4yh2" class="card-img-top img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">Brand name test</h5>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-2 mb-4">
      <div class="card">
        <img src="https://as.milledcdn.com/3rmt9s15of9i2842vj17ytii4yh2" class="card-img-top img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">Brand name test</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-2 mb-4">
      <div class="card">
        <img src="https://as.milledcdn.com/3rmt9s15of9i2842vj17ytii4yh2" class="card-img-top img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">Brand name test</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-2 mb-4">
      <div class="card">
        <img src="https://as.milledcdn.com/3rmt9s15of9i2842vj17ytii4yh2" class="card-img-top img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">Brand name test</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-2 mb-4">
      <div class="card">
        <img src="https://as.milledcdn.com/3rmt9s15of9i2842vj17ytii4yh2" class="card-img-top img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">Brand name test</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-2 mb-4">
      <div class="card">
        <img src="https://as.milledcdn.com/3rmt9s15of9i2842vj17ytii4yh2" class="card-img-top img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">Brand name test</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-2 mb-4">
      <div class="card">
        <img src="https://as.milledcdn.com/3rmt9s15of9i2842vj17ytii4yh2" class="card-img-top img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">Brand name test</h5>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}