{% extends "layout.html" %}

{% block title %}
Emails
{% endblock %}

{% block main %}

{# Jumbotron #}
<div class="p-5 mb-4 bg-light">
    <div class="container py-3">
        <h1 class="display-5 fw-bold">Brand/Category name</h1>
    </div>
</div>

{# Email preview #}
<div class="row justify-content-center align-items-center my-3">
    <div class="row">
        <div class="col-sm-2 mb-4">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">31.12.2029</h6>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <img src="https://images.milledcdn.com/2023-09-06/wv2fxYZBCi0y3vqh/c@2x.jpg" class="card-img-top"
                    alt="...">
            </div>
        </div>
        <div class="col-sm-2 mb-4">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">31.12.2029</h6>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <img src="https://images.milledcdn.com/2023-09-06/wv2fxYZBCi0y3vqh/c@2x.jpg" class="card-img-top"
                    alt="...">
            </div>
        </div>
        <div class="col-sm-2 mb-4">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">31.12.2029</h6>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <img src="https://images.milledcdn.com/2023-09-06/wv2fxYZBCi0y3vqh/c@2x.jpg" class="card-img-top"
                    alt="...">
            </div>
        </div>
        <div class="col-sm-2 mb-4">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">31.12.2029</h6>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <img src="https://images.milledcdn.com/2023-09-06/wv2fxYZBCi0y3vqh/c@2x.jpg" class="card-img-top"
                    alt="...">
            </div>
        </div>
        <div class="col-sm-2 mb-4">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">31.12.2029</h6>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <img src="https://images.milledcdn.com/2023-09-06/wv2fxYZBCi0y3vqh/c@2x.jpg" class="card-img-top"
                    alt="...">
            </div>
        </div>
        <div class="col-sm-2 mb-4">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">31.12.2029</h6>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                </div>
                <img src="https://images.milledcdn.com/2023-09-06/wv2fxYZBCi0y3vqh/c@2x.jpg" class="card-img-top"
                    alt="...">
            </div>
        </div>
    </div>
</div>


    {% endblock %}