{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block main %}

{# Jumbotron #}
<div class="p-5 mb-4 bg-light">
  <div class="container py-5">
    <h1 class="display-5 fw-bold">Email Monitor</h1>
    <p class="col-md-8 fs-4">Powering a website for CRM professionals, this Flask-backed project showcases a curated
      collection of Czech commercial emails for inspiration.</p>
  </div>
</div>

{# Latest emails #}

<div class="row justify-content-center align-items-center my-3">
  <div class="row my-3">
    <div class="col">
      <p class="h2 text-center">Latest emails</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
        <img src="https://images.milledcdn.com/2023-09-06/wv2fxYZBCi0y3vqh/c@2x.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
        <img src="https://images.milledcdn.com/2023-09-06/wv2fxYZBCi0y3vqh/c@2x.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
        <img src="https://images.milledcdn.com/2023-09-06/wv2fxYZBCi0y3vqh/c@2x.jpg" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
        <img src="https://images.milledcdn.com/2023-09-06/wv2fxYZBCi0y3vqh/c@2x.jpg" class="card-img-top" alt="...">
      </div>
    </div>
  </div>
</div>

<hr class="hr my-5" />

{# Latest brands #}
<div class="row justify-content-center align-items-center my-3">
  <div class="row my-3">
    <div class="col">
      <p class="h2 text-center">Latest brands</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <div class="card">
        <img src="https://as.milledcdn.com/3rmt9s15of9i2842vj17ytii4yh2" class="card-img-top img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">Brand name test</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <img src="https://as.milledcdn.com/3rmt9s15of9i2842vj17ytii4yh2" class="card-img-top img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">Brand name test</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <img src="https://as.milledcdn.com/3rmt9s15of9i2842vj17ytii4yh2" class="card-img-top img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">Brand name test</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <img src="https://as.milledcdn.com/3rmt9s15of9i2842vj17ytii4yh2" class="card-img-top img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">Brand name test</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <img src="https://as.milledcdn.com/3rmt9s15of9i2842vj17ytii4yh2" class="card-img-top img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">Brand name test</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="card">
        <img src="https://as.milledcdn.com/3rmt9s15of9i2842vj17ytii4yh2" class="card-img-top img-thumbnail" alt="...">
        <div class="card-body">
          <h5 class="card-title">Brand name test</h5>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}